---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts?vatin=wrong-vatin
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[],"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts","pagination":{"first":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts?page=1","last":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts?page=0"}}}'
      effective_url: https://test.ucetnictvi.bonobo.cz/api/v1/contacts?vatin=wring-vatin
  recorded_at: Tue, 05 Apr 2016 14:05:40 GMT
recorded_with: VCR 3.0.1
