---
http_interactions:
- request:
    method: post
    uri: https://test.ucetnictvi.uol.cz/api/v1/contacts/
    body:
      encoding: US-ASCII
      string: acquisition_country_id&&business_entity&company_number&consumption_country_id&contact_id&contract_id&country_id&created_at&creator&creator_id&days_till_due_date&department_id&duplicate_variable_symbol&external_id&hidden&import_received_documents&language_id&modifier&modifier_id&name&note&percent_discount&price_list&price_list_id&response&status&sipo_number&specific_symbol&tin&unreliable_payer&updated_at&vat_payer&vatin=arbitrary
    headers: {}
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":[{"resource":"Contact","field":"contact_id","code":"can''t
        be blank"},{"resource":"Contact","field":"vatin","code":"has to start with
        country code and it''s max length is 14 characters."},{"resource":"Contact","field":"name","code":"can''t
        be blank"}],"documentation_url":"https://test.ucetnictvi.uol.cz/faq/ruby_api"}'
  recorded_at: Thu, 09 Mar 2017 20:48:09 GMT
recorded_with: VCR 3.0.3
