---
http_interactions:
- request:
    method: patch
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/uol_praha
    body:
      encoding: US-ASCII
      string: acquisition_country_id&&business_entity&company_number&consumption_country_id&contact_id&contract_id&country_id=CZ&created_at&creator&creator_id&days_till_due_date&department_id&duplicate_variable_symbol=false&external_id&hidden&import_received_documents=P&language_id&modifier&modifier_id&name=test&note&percent_discount&price_list&price_list_id&response&status&sipo_number&specific_symbol&tin&unreliable_payer&updated_at&vat_payer=false&vatin=CZ05609101
    headers: {}
  response:
    status:
      code: 422
      message: Unprocessable Entity
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"Validation failed","errors":[{"resource":"Contact","field":"vatin","code":"is
        not unique."}],"documentation_url":"https://test.ucetnictvi.bonobo.cz/faq/ruby_api","_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts/uol_praha"}}'
  recorded_at: Thu, 09 Mar 2017 16:16:14 GMT
recorded_with: VCR 3.0.3
