---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/imaginary
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"404","code":"0004","message":"Record doesn''t exist.","developerMessage":"Record
        doesn''t exist, make sure that you''re requesting correct object"}'
  recorded_at: Thu, 09 Mar 2017 20:48:07 GMT
recorded_with: VCR 3.0.3
