---
http_interactions:
- request:
    method: patch
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/imaginary
    body:
      encoding: UTF-8
      string: '{"acquisition_country_id":null,"addresses":[],"business_entity":null,"consumption_country_id":null,"contact_id":null,"contract_id":null,"country_id":"CZ","created_at":null,"creator":null,"creator_id":null,"days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":null,"import_received_documents":"P","language_id":null,"modifier":null,"modifier_id":null,"name":"Testovaci","note":null,"percent_discount":null,"price_list":null,"price_list_id":null,"response":null,"status":null,"sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":null,"updated_at":null,"vat_payer":false,"vatin":"CZ60193336"}'
    headers: {}
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"404","code":"0004","message":"Record doesn''t exist.","developerMessage":"Record
        doesn''t exist, make sure that you''re requesting correct object"}'
      effective_url: http://hronek-fantozzi-dev.localhost:3000/api/v1/contacts/imaginary
  recorded_at: Mon, 01 Feb 2016 12:30:07 GMT
recorded_with: VCR 2.9.3
