---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.uol.cz/api/v1/contacts
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/alzacz_as"},"creator":{"user_id":"jakes"},"modifier":{"user_id":"jakes"},"contract":{"contract_id":null},"acquisition_country_id":null,"business_entity":true,"company_number":"27082440","contact_id":"alzacz_as","consumption_country_id":null,"country_id":"CZ","created_at":"2014-10-03T13:48:58.731+02:00","days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"name":"Alza.cz
        a.s.","note":null,"percent_discount":0.0,"received_invoice_public_id_setting":"unique","received_invoice_variable_symbol_setting":"same_as_no","status":"valid","sipo_number":null,"specific_symbol":27082440,"tin":null,"unreliable_payer":false,"updated_at":"2014-10-03T13:49:20.469+02:00","vat_payer":true,"vatin":"CZ27082440","addresses":[{"creator":{"user_id":"uoladm"},"modifier":{"user_id":"uoladm"},"address_id":"jatecni_1530-33-praha","address_types":["accounting"],"building_number":null,"city":"Praha
        7","country_id":"CZ","created_at":"2015-03-11T11:31:11+01:00","email":null,"external_id":null,"hidden":false,"mobile_phone":null,"name":"Alza.cz
        a.s.","phone":null,"postal_code":"170 00","status":"valid","street":"Jateční
        1530/33","updated_at":"2015-03-11T11:31:11+01:00","url":null}],"bank_accounts":[]},{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/auto_palace_butovice_s"},"creator":{"user_id":"jakes"},"modifier":{"user_id":"jakes"},"contract":{"contract_id":null},"acquisition_country_id":null,"business_entity":true,"company_number":"25689401","contact_id":"auto_palace_butovice_s","consumption_country_id":null,"country_id":"CZ","created_at":"2014-10-21T11:55:11.215+02:00","days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"[...]
