---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.uol.cz/api/v1/contacts/uol_praha
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/uol_praha"},"creator":{"user_id":"uoladm"},"modifier":{"user_id":"uoladm"},"contract":{"contract_id":null},"acquisition_country_id":null,"business_entity":true,"company_number":"24840572","contact_id":"uol_praha","consumption_country_id":null,"country_id":"CZ","created_at":"2018-10-30T13:47:30.905+01:00","days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"name":"Účetnictví
        on-line Praha","note":null,"percent_discount":0.0,"received_invoice_public_id_setting":"unique","received_invoice_variable_symbol_setting":"same_as_no","status":"valid","sipo_number":null,"specific_symbol":24840572,"tin":null,"unreliable_payer":false,"updated_at":"2018-11-07T11:59:13.043+01:00","vat_payer":true,"vatin":"CZ24840572","addresses":[{"creator":{"user_id":"uoladm"},"modifier":{"user_id":"uoladm"},"address_id":"uol_praha_pekarska","address_types":["accounting"],"building_number":null,"city":"Praha
        5 - Jinonice","country_id":"CZ","created_at":"2018-10-30T13:47:30+01:00","email":"klient@uol.cz","external_id":null,"hidden":false,"mobile_phone":null,"name":"Účetnictví
        on-line Praha s.r.o.","phone":"+420 227-127-000","postal_code":"155 00","status":"valid","street":"Pekařská
        695/10a","updated_at":"2018-10-30T13:47:30+01:00","url":"https://www.uol.cz"}],"bank_accounts":[]}'
  recorded_at: Fri, 08 Feb 2019 12:36:29 GMT
recorded_with: VCR 4.0.0
