---
http_interactions:
- request:
    method: post
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/
    body:
      encoding: US-ASCII
      string: acquisition_country_id&&business_entity&company_number&consumption_country_id&contact_id&contract_id&country_id=CZ&created_at&creator&creator_id&days_till_due_date&department_id&duplicate_variable_symbol=false&external_id&hidden&import_received_documents=P&language_id&modifier&modifier_id&name=Testovaci&note&percent_discount&price_list&price_list_id&response&status&sipo_number&specific_symbol&tin&unreliable_payer&updated_at&vat_payer=false&vatin=CZ05839670
    headers: {}
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts/testovaci"},"creator":{"user_id":"demo"},"modifier":{"user_id":"demo"},"contract":{"contract_id":null},"acquisition_country_id":null,"business_entity":true,"company_number":null,"contact_id":"testovaci","consumption_country_id":null,"country_id":"CZ","created_at":"2017-03-09T22:03:41.682+01:00","days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"name":"Testovaci","note":null,"percent_discount":0.0,"received_invoice_public_id_setting":"unique","received_invoice_variable_symbol_setting":"same_as_no","status":"valid","sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":false,"updated_at":"2017-03-09T22:03:41.682+01:00","vat_payer":false,"vatin":"CZ05839670","addresses":[]}'
  recorded_at: Thu, 09 Mar 2017 21:03:42 GMT
recorded_with: VCR 3.0.3
