---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/testovaci
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"3542b4718df9027aeee408fc9ee3b861"
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://hronek-fantozzi-dev.localhost:3000/api/v1/contacts/testovaci"},"creator":{"user_id":"uoladm"},"modifier":{"user_id":"uoladm"},"contract":{"contract_id":null},"acquisition_country_id":null,"business_entity":true,"company_number":null,"contact_id":"testovaci","consumption_country_id":null,"country_id":"CZ","created_at":"2016-02-01T13:28:40+01:00","days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"name":"Testovaci","note":null,"percent_discount":0.0,"status":"valid","sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":false,"updated_at":"2016-02-01T13:28:40+01:00","vat_payer":true,"vatin":"CZ60193336","addresses":[]}'
      effective_url: http://hronek-fantozzi-dev.localhost:3000/api/v1/contacts/testovaci
  recorded_at: Mon, 01 Feb 2016 12:29:30 GMT
recorded_with: VCR 2.9.3
