---
http_interactions:
- request:
    method: patch
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/testovaci
    body:
      encoding: UTF-8
      string: '{"acquisition_country_id":null,"addresses":[],"business_entity":null,"consumption_country_id":null,"contact_id":null,"contract_id":null,"country_id":"CZ","created_at":null,"creator":null,"creator_id":null,"days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":null,"import_received_documents":"P","language_id":null,"modifier":null,"modifier_id":null,"name":"test","note":null,"percent_discount":null,"price_list":null,"price_list_id":null,"response":null,"status":null,"sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":null,"updated_at":null,"vat_payer":false,"vatin":"CZ25654012"}'
    headers:
      Authorization:
      - Basic aHJvbmVrQHVvbC5jejpDOXpxR2Q5dTNqMW52SXZNekRrRVJR
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"61381bb4e7d10bb761e8ed97e492062b"
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://hronek-fantozzi-dev.localhost:3000/api/v1/contacts/testovaci"},"creator":{"user_id":"uoladm"},"modifier":{"user_id":"uoladm"},"contract":{"contract_id":null},"acquisition_country_id":null,"business_entity":true,"company_number":null,"contact_id":"testovaci","consumption_country_id":null,"country_id":"CZ","created_at":"2016-02-01T13:28:40+01:00","days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"name":"test","note":null,"percent_discount":0.0,"status":"valid","sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":false,"updated_at":"2016-02-01T13:30:06+01:00","vat_payer":true,"vatin":"CZ25654012","addresses":[]}'
      effective_url: http://hronek-fantozzi-dev.localhost:3000/api/v1/contacts/testovaci
  recorded_at: Mon, 01 Feb 2016 12:30:06 GMT
recorded_with: VCR 2.9.3
