---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts?vatin=CZ27169278
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json
      Etag:
      - W/"e97284b21b115ad3663c5054c095e635"
    body:
      encoding: UTF-8
      string: '{"items":[{"_meta":{"href":"https://localhost:3339/api/v1/contacts/ÚČETNICTVÍ
        ON-LINE"},"creator":{"user_id":"pickova"},"modifier":{"user_id":"jkander"},"contract":{"contract_id":null},"acquisition_country_id":null,"business_entity":true,"company_number":"27169278","contact_id":"ÚČETNICTVÍ
        ON-LINE","consumption_country_id":null,"country_id":"CZ","created_at":"2004-11-04T20:44:39.024+01:00","days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"name":"Účetnictví
        on-line, s.r.o.","note":"http://www.uol.cz","percent_discount":0.0,"status":"valid","sipo_number":null,"specific_symbol":27169278,"tin":null,"unreliable_payer":false,"updated_at":"2013-05-31T10:59:35.495+02:00","vat_payer":true,"vatin":"CZ27169278","addresses":[{"creator":{"user_id":"uoladm"},"modifier":{"user_id":"uoladm"},"address_id":"PEKAŘSKÁ
        628/14-PRAHA","address_types":["accounting"],"building_number":null,"city":"Praha
        5","country_id":"CZ","created_at":"2015-03-11T10:39:32+01:00","email":"info@uol.cz","external_id":null,"hidden":false,"mobile_phone":"+420
        602 251766","name":"Účetnictví on-line, s.r.o.","phone":"+420 272047000","postal_code":"150
        00","status":"valid","street":"Pekařská 628/14","updated_at":"2015-03-11T10:39:32+01:00","url":"k,o"}]}],"_meta":{"href":"https://localhost/api/v1/contacts","pagination":{"first":"https://localhost/api/v1/contacts?page=1","last":"https://localhost/api/v1/contacts?page=1"}}}'
      effective_url: https://test.ucetnictvi.bonobo.cz/api/v1/contacts?vatin=CZ27169278
  recorded_at: Mon, 04 Apr 2016 15:07:46 GMT
recorded_with: VCR 3.0.1
