---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.uol.cz/api/v1/contacts?vatin=wrong-vatin
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[],"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts","pagination":{"first":"https://test.ucetnictvi.uol.cz/api/v1/contacts?vatin=wrong-vatin\u0026hidden=all\u0026vat_payer=all\u0026business_entity=all\u0026page=1","last":"https://test.ucetnictvi.uol.cz/api/v1/contacts?vatin=wrong-vatin\u0026hidden=all\u0026vat_payer=all\u0026business_entity=all\u0026page=0"}}}'
  recorded_at: Thu, 09 Mar 2017 20:48:16 GMT
recorded_with: VCR 3.0.3
