---
http_interactions:
- request:
    method: post
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/
    body:
      encoding: UTF-8
      string: '{"acquisition_country_id":null,"addresses":[],"business_entity":null,"consumption_country_id":null,"contact_id":null,"contract_id":null,"country_id":"CZ","created_at":null,"creator":{},"days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"email":null,"external_id":null,"hidden":null,"import_received_documents":"P","language_id":null,"mobile_phone":null,"modifier_id":null,"name":"Testovaci","note":null,"percent_discount":null,"phone":null,"price_list":{},"response":null,"sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":null,"updated_at":null,"url":null,"vat_payer":false,"vatin":"CZ129451811"}'
    headers:
      Authorization:
      - Basic ZGVtb0B1Y2V0bmljdHZpLW9uLWxpbmUuY3o6SmJHSnhaNkd5WVhSRmZoemdFOF9yQQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      ETag:
      - W/"a89b0b7c4fad265b130ba02651cd0729"
      Status:
      - 201 Created
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts/testovaci"},"acquisition_country_id":null,"business_entity":true,"contact_id":"testovaci","consumption_country_id":null,"contract":null,"country_id":"CZ","created_at":"2015-12-10T11:28:29+01:00","creator":{"user_id":"uoladm"},"days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"email":null,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"mobile_phone":null,"modifier":{"user_id":"uoladm"},"name":"Testovaci","note":null,"percent_discount":0.0,"phone":null,"sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":false,"updated_at":"2015-12-10T11:28:29+01:00","url":null,"vat_payer":false,"vatin":"CZ129451811","addresses":[]}'
      effective_url: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/
  recorded_at: Thu, 10 Dec 2015 10:28:29 GMT
recorded_with: VCR 2.9.3
