---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.uol.cz/api/v1/document_pairings/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"uploaded_document":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/uploaded_documents/1"},"id":1,"file":"https://s3.eu-central-1.amazonaws.com/ucetnictvi.uol.cz/customers/test/uploaded_documents/document3_410b3f2b12a60e0e.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIMVY5CTLGFVOGK4A%2F20190712%2Feu-central-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190712T131848Z\u0026X-Amz-Expires=604800\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=badebd2d15e828ff9587e4bb293d84a205cd38a58cbba7ef04f810c09a96ea60","state":"unprocessed","note":"","created_at":"2019-07-12T15:00:32+02:00","updated_at":"2019-07-12T15:00:32+02:00","creator":{"user_id":"demo"},"modifier":{"user_id":"demo"}},"document_pairable":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/purchase_invoices/2014000001"},"created_at":"2014-10-03T13:49:50+02:00","updated_at":"2014-10-03T14:13:56+02:00","creator":{"user_id":"jakes"},"modifier":{"user_id":"jakes"},"seller":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/alzacz_as"}},"currency":{"currency_id":"CZK"},"department":{"department_id":"sidlo"},"order":{"order_id":null},"contract":{"contract_id":null},"items":[{"created_at":"2014-10-03T13:50:08+02:00","updated_at":"2014-10-03T13:50:08+02:00","creator":{"user_id":"jakes"},"modifier":{"user_id":"jakes"},"department":{"department_id":null},"product":{"product_id":"drmaj"},"contract":{"contract_id":null},"expiration_date":null,"batch":null,"reduce_vat_deduction":false,"percent_discount":0.0,"external_id":null,"invoice_id":2014000001,"status":"valid","description":"Drobný
        majetek","external_product_id":null,"quantity":"1.0","serial_numbers":null,"supplier_code":null,"total_price":"1000.0","vat_rate":21.0}],"date_of_receipt":"2014-09-23","due_date":"2014-09-20","issue_date":"2014-09-20","tax_payment_date":"2014-09-20","bank_code":null,"bank_country_id":null,"account_number":null,"reduce_vat_deduction":false,"constant_symbol":308,"percent_discount":0.0,"external_id":null,"iban":null,"invoice_id":2014000001,"gid":64919,"status":"confirmed","isdoc":null,"note":"paměťová
        karta","payment_method":"cash","exchange_rate":1.0,"rounding":"0.0","shipper":{"_meta":null},"shipping_method":null,"specific_symbol":null,"total_amount":"1210.0","type":"standard","vat_document":true,"vat1_amount":"210.0","vat2_amount":"0.0","vat3_amount":null,"variable_symbol":2414128746,"public_id":"2414128746"},"document_pairable_type":"purchase_invoice","document_pairable_id":64919,"created_at":"2019-07-12T15:05:01+02:00"},{"uploaded_document":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/uploaded_documents/2"},"id":2,"file":"https://s3.eu-central-1.amazonaws.com/ucetnictvi.uol.cz/customers/test/uploaded_documents/document2_1f0fbd1dda9c004b.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIMVY5CTLGFVOGK4A%2F20190712%2Feu-central-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190712T131848Z\u0026X-Amz-Expires=604800\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=81df09823f5ace9b55cb78ec4e3e6c899a0d5f47dfc141d4d8cefff00ddb341b","state":"unprocessed","note":"","created_at":"2019-07-12T15:00:32+02:00","updated_at":"2019-07-12T15:00:32+02:00","creator":{"user_id":"demo"},"modifier":{"user_id":"demo"}},"document_pairable":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/sales_invoices/2019000001"},"accounting_address":{"address_id":"videnska_19-vestec"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"jac"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"praha"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"jac"},"order":{"order_id":null},"contract":{"contract_id":null},"shipper":{"_meta":null},"buyer":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/bychl_auto_as"}},"items":[{"creator":{"user_id":"jac"},"delivery":{"delivery_id":null},"department":{"department_id":null},"modifier":{"user_id":"jac"},"product":{"product_id":"sleva_z"},"contract":{"contract_id":null},"batch":null,"created_at":"2019-07-12T11:03:58+02:00","description":"Sleva","expiration_date":null,"external_id":null,"id":74501,"percent_discount":0.0,"quantity":"-1.0","status":"valid","serial_numbers":null,"supplier_code":null,"unit_price":"10.0","unit_price_vat_inclusive":"12.1","updated_at":"2019-07-12T11:04:17+02:00","vat_rate":21.0,"vat_calculation_method":"from_below"},{"creator":{"user_id":"jac"},"delivery":{"delivery_id":null},"department":{"department_id":null},"modifier":{"user_id":"jac"},"product":{"product_id":"marketing"},"contract":{"contract_id":null},"batch":null,"created_at":"2019-07-12T11:04:17+02:00","description":"Marketingové
        poradenství","expiration_date":null,"external_id":null,"id":74502,"percent_discount":0.0,"quantity":"1.0","status":"valid","serial_numbers":null,"supplier_code":null,"unit_price":"1111.0","unit_price_vat_inclusive":"1344.31","updated_at":"2019-07-12T11:04:17+02:00","vat_rate":21.0,"vat_calculation_method":"from_below"}],"cancellation_date":null,"constant_symbol":308,"consumption_country_id":"CZ","created_at":"2019-07-12T11:03:58+02:00","delivery_note":false,"delivery_note_note":null,"delivery_note_text":null,"due_date":"2019-07-26","exchange_rate":null,"external_id":null,"invoice_id":2019000001,"gid":74500,"issue_date":"2019-07-12","note":null,"payment_method":"bank_transfer","percent_discount":0.0,"public_id":"2019000001","rounding":null,"status":"valid","send_by_email":false,"send_by_mail":false,"shipping_method":null,"specific_symbol":1726773,"tax_payment_date":"2019-07-12","text":null,"total_amount":"1332.21","type":"proforma","updated_at":"2019-07-12T11:04:17+02:00","variable_symbol":2019000001,"vat1_amount":null,"vat2_amount":null,"vat3_amount":null,"vat_document":false},"document_pairable_type":"sales_invoice","document_pairable_id":74500,"created_at":"2019-07-12T15:05:59+02:00"},{"uploaded_document":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/uploaded_documents/3"},"id":3,"file":"https://s3.eu-central-1.amazonaws.com/ucetnictvi.uol.cz/customers/test/uploaded_documents/document1_b71148ffe6a09340.pdf?X-Amz-Algorithm=AWS4-HMAC-SHA256\u0026X-Amz-Credential=AKIAIMVY5CTLGFVOGK4A%2F20190712%2Feu-central-1%2Fs3%2Faws4_request\u0026X-Amz-Date=20190712T131848Z\u0026X-Amz-Expires=604800\u0026X-Amz-SignedHeaders=host\u0026X-Amz-Signature=bc11aa5f9a455646eb10cc81936681185ab98d178ff5fdd48321af02af108567","state":"unprocessed","note":"","created_at":"2019-07-12T15:00:32+02:00","updated_at":"2019-07-12T15:00:32+02:00","creator":{"user_id":"demo"},"modifier":{"user_id":"demo"}},"document_pairable":{"created_at":"2019-07-12T10:40:02+02:00","updated_at":"2019-07-12T10:40:02+02:00","creator":{"user_id":"jac"},"modifier":{"user_id":"jac"},"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/petty_cash_disburstments/74473"},"items":[{"created_at":"2019-07-12T10:40:02+02:00","updated_at":"2019-07-12T10:40:02+02:00","creator":{"user_id":"jac"},"modifier":{"user_id":"jac"},"external_id":null,"rule":{"rule_id":"-ostatni_nakupy"},"variable_symbol":null,"price":"123.0","description":"test","department":{"department_id":null},"contract":{"contract_id":null},"linked_doc_number":null}],"number":2019000001,"issue_date":"2019-07-12","receipt_date":"2019-07-12","note":"","coefficient":false,"petty_cash":{"petty_cash_id":"p1_eur"},"department":{"department_id":null},"total":"123.0","contact":{"contact_id":null},"contract":{"contract_id":null},"vat_document":false,"confirmed":false,"status":"valid","gid":74473},"document_pairable_type":"petty_cash_disburstment","document_pairable_id":74473,"created_at":"2019-07-12T15:06:54+02:00"}],"_meta":{"href":"http://test.ucetnictvi.uol.cz/api/v1/document_pairings","pagination":{"first":"http://test.ucetnictvi.uol.cz/api/v1/document_pairings?page=1","last":"http://test.ucetnictvi.uol.cz/api/v1/document_pairings?page=1"}}}'
  recorded_at: Fri, 12 Jul 2019 13:19:13 GMT
recorded_with: VCR 4.0.0
