---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/imaginary
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic ZGVtb0B1Y2V0bmljdHZpLW9uLWxpbmUuY3o6SmJHSnhaNkd5WVhSRmZoemdFOF9yQQ==
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"404","code":"0004","message":"Record doesn''t exist.","developerMessage":"Record
        doesn''t exist, make sure that you''re requesting correct object"}'
      effective_url: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/imaginary
  recorded_at: Thu, 10 Dec 2015 10:28:29 GMT
recorded_with: VCR 2.9.3
