---
http_interactions:
- request:
    method: patch
    uri: https://test.ucetnictvi.uol.cz/api/v1/purchase_invoices/2019000001
    body:
      encoding: UTF-8
      string: '{"seller":null,"seller_id":"alzacz_as","contract":null,"contract_id":null,"creator":null,"creator_id":null,"modifier":null,"modifier_id":null,"department":null,"department_id":null,"order":null,"order_id":null,"shipper":null,"shipper_id":null,"items":[],"date_of_receipt":null,"due_date":"2019-07-17T11:39:32.803+02:00","issue_date":"2019-07-10T11:39:32.803+02:00","tax_payment_date":"2019-07-09T11:39:32.803+02:00","bank_code":null,"bank_country_id":"CZ","iban_or_account":"2923001/0100","account_number":null,"reduce_vat_deduction":null,"constant_symbol":null,"percent_discount":null,"external_id":null,"iban":null,"invoice_id":null,"gid":null,"status":null,"isdoc":null,"note":null,"payment_method":"bank_transfer","exchange_rate":null,"rounding":null,"shipping_method":null,"specific_symbol":null,"total_amount":null,"type":"penalty","vat_document":null,"vat1_amount":null,"vat2_amount":null,"vat3_amount":null,"variable_symbol":20190030,"public_id":20190030}'
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/purchase_invoices/2019000001"},"created_at":"2019-07-10T11:36:54+02:00","updated_at":"2019-07-10T11:39:09+02:00","creator":{"user_id":"demo"},"modifier":{"user_id":"demo"},"seller":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/alzacz_as"}},"currency":{"currency_id":"CZK"},"department":{"department_id":"praha"},"order":{"order_id":null},"contract":{"contract_id":null},"items":[],"date_of_receipt":"2019-07-10","due_date":"2019-07-17","issue_date":"2019-07-09","tax_payment_date":"2019-07-09","bank_code":"0100","bank_country_id":"CZ","account_number":"2923001/0100","reduce_vat_deduction":false,"constant_symbol":308,"percent_discount":0.0,"external_id":null,"iban":"CZ2001000000000002923001","invoice_id":2019000001,"status":"valid","isdoc":null,"note":null,"payment_method":"bank_transfer","exchange_rate":null,"rounding":null,"shipper":{"_meta":null},"shipping_method":null,"specific_symbol":27082440,"total_amount":"0.0","type":"penalty","vat_document":false,"vat1_amount":"0.0","vat2_amount":"0.0","vat3_amount":"0.0","variable_symbol":20190030,"public_id":"20190030"}'
  recorded_at: Wed, 10 Jul 2019 09:39:34 GMT
recorded_with: VCR 4.0.0
