---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.uol.cz/api/v1/purchase_invoices/2019000001
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/purchase_invoices/2019000001"},"created_at":"2019-07-10T11:36:54+02:00","updated_at":"2019-07-10T11:36:54+02:00","creator":{"user_id":"demo"},"modifier":{"user_id":"demo"},"seller":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/alzacz_as"}},"currency":{"currency_id":"CZK"},"department":{"department_id":"praha"},"order":{"order_id":null},"contract":{"contract_id":null},"items":[],"date_of_receipt":"2019-07-10","due_date":"2019-07-17","issue_date":"2019-07-09","tax_payment_date":"2019-07-09","bank_code":"0100","bank_country_id":"CZ","account_number":"35-6420840257/0100","reduce_vat_deduction":false,"constant_symbol":308,"percent_discount":0.0,"external_id":null,"iban":"CZ4101000000356420840257","invoice_id":2019000001,"status":"valid","isdoc":null,"note":null,"payment_method":"bank_transfer","exchange_rate":null,"rounding":null,"shipper":{"_meta":null},"shipping_method":null,"specific_symbol":27082440,"total_amount":"0.0","type":"standard","vat_document":false,"vat1_amount":"0.0","vat2_amount":"0.0","vat3_amount":"0.0","variable_symbol":20190029,"public_id":"20190029"}'
  recorded_at: Wed, 10 Jul 2019 09:39:33 GMT
recorded_with: VCR 4.0.0
