---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/sales_invoices/2017000002
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/sales_invoices/2017000002"},"accounting_address":{"address_id":"praha_5_pekarska_10a"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"antasa"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"praha"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"antasa"},"order":{"order_id":null},"contract":{"contract_id":null},"shipper":{"_meta":null},"buyer":{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts/uol_praha"}},"items":[{"creator":{"user_id":"antasa"},"delivery":{"delivery_id":null},"department":{"department_id":null},"modifier":{"user_id":"antasa"},"product":{"product_id":"drmaj"},"contract":{"contract_id":null},"batch":null,"created_at":"2017-03-09T16:58:37+01:00","description":"Rohlik","expiration_date":null,"external_id":null,"id":71711,"percent_discount":0.0,"quantity":"1.0","status":"valid","serial_numbers":null,"supplier_code":null,"unit_price":"100000.0","unit_price_vat_inclusive":"121000.0","updated_at":"2017-03-09T16:58:37+01:00","vat_rate":21.0,"vat_calculation_method":"from_below"}],"cancellation_date":null,"constant_symbol":308,"consumption_country_id":"CZ","created_at":"2017-03-09T16:58:37+01:00","delivery_note":false,"delivery_note_note":null,"delivery_note_text":null,"due_date":"2017-03-23","exchange_rate":null,"external_id":null,"invoice_id":2017000002,"issue_date":"2017-03-09","note":"","payment_method":"bank_transfer","percent_discount":0.0,"public_id":"2017000002","rounding":null,"status":"valid","send_by_email":false,"send_by_mail":false,"shipping_method":null,"specific_symbol":27169278,"tax_payment_date":"2017-03-09","text":null,"total_amount":"121000.0","type":"standard","updated_at":"2017-03-09T16:58:37+01:00","variable_symbol":2017000002,"vat1_amount":null,"vat2_amount":null,"vat3_amount":null,"vat_document":true}'
  recorded_at: Thu, 09 Mar 2017 20:48:17 GMT
recorded_with: VCR 3.0.3
