---
http_interactions:
- request:
    method: post
    uri: https://test.ucetnictvi.uol.cz/api/v1/sales_invoices/
    body:
      encoding: US-ASCII
      string: accounting_address&accounting_address_id&bank_account&bank_account_id&buyer_address&buyer_address_id&buyer&buyer_id=alzacz_as&contract&contract_id&creator&creator_id&modifier&modifier_id&delivery_address&delivery_address_id&department&department_id&document_recipient_address&document_recipient_address_id&order&order_id&shipper&shipper_id&linked_doc&linked_doc_number&&cancellation_date&constant_symbol&consumption_country_id&created_at&currency_id&delivery_note&delivery_note_note&delivery_note_text&due_date=2017-03-16+21%3A48%3A05+%2B0100&exchange_rate&external_id&invoice_id&issue_date=2017-03-09+22%3A48%3A05+%2B0100&logo&note&payment_method=bank_transfer&percent_discount&public_id&response&rounding&send_by_email&send_by_mail&shipping_method&specific_symbol&status&tax_payment_date&text&total_amount&type=standard&updated_at&variable_symbol&vat1_amount&vat2_amount&vat3_amount&vat_document
    headers: {}
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/sales_invoices/2017000008"},"accounting_address":{"address_id":"jatecni_1530-33-praha"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"demo"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"praha"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"demo"},"order":{"order_id":null},"contract":{"contract_id":null},"shipper":{"_meta":null},"buyer":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/alzacz_as"}},"items":[],"cancellation_date":null,"constant_symbol":308,"consumption_country_id":"CZ","created_at":"2017-03-09T21:48:19+01:00","delivery_note":false,"delivery_note_note":null,"delivery_note_text":null,"due_date":"2017-03-16","exchange_rate":null,"external_id":null,"invoice_id":2017000008,"issue_date":"2017-03-09","note":"","payment_method":"bank_transfer","percent_discount":0.0,"public_id":"2017000008","rounding":null,"status":"valid","send_by_email":false,"send_by_mail":false,"shipping_method":null,"specific_symbol":27082440,"tax_payment_date":"2017-03-09","text":null,"total_amount":0.0,"type":"standard","updated_at":"2017-03-09T21:48:19+01:00","variable_symbol":2017000008,"vat1_amount":null,"vat2_amount":null,"vat3_amount":null,"vat_document":true}'
  recorded_at: Thu, 09 Mar 2017 20:48:20 GMT
recorded_with: VCR 3.0.3
