---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.uol.cz/api/v1/sales_invoices
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/sales_invoices/2018000032"},"accounting_address":{"address_id":"praha_11_roztylska_186"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"prosteckyo"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"sidlo"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"prosteckyo"},"order":{"order_id":null},"contract":{"contract_id":null},"shipper":{"_meta":null},"buyer":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/uol_jihlava"}},"items":[{"creator":{"user_id":"prosteckyo"},"delivery":{"delivery_id":null},"department":{"department_id":null},"modifier":{"user_id":"prosteckyo"},"product":{"product_id":"marketing"},"contract":{"contract_id":null},"batch":null,"created_at":"2018-07-02T10:29:44+02:00","description":"Marketingové
        poradenství","expiration_date":null,"external_id":null,"id":73729,"percent_discount":0.0,"quantity":"1.0","status":"valid","serial_numbers":null,"supplier_code":null,"unit_price":"50000.0","unit_price_vat_inclusive":"60500.0","updated_at":"2018-07-02T10:29:44+02:00","vat_rate":21.0,"vat_calculation_method":"from_below"}],"cancellation_date":null,"constant_symbol":308,"consumption_country_id":"CZ","created_at":"2018-07-02T10:29:35+02:00","delivery_note":false,"delivery_note_note":null,"delivery_note_text":null,"due_date":"2018-06-15","exchange_rate":1.0,"external_id":null,"invoice_id":2018000032,"gid":73728,"issue_date":"2018-06-01","note":null,"payment_method":"bank_transfer","percent_discount":0.0,"public_id":"2018000032","rounding":"0.0","status":"confirmed","send_by_email":false,"send_by_mail":false,"shipping_method":null,"specific_symbol":6026656,"tax_payment_date":"2018-06-01","text":"Marketingová
        podpora 06/2018","total_amount":"60500.0","type":"standard","updated_at":"2018-07-02T10:30:00+02:00","variable_symbol":2018000032,"vat1_amount":"10500.0","vat2_amount":"0.0","vat3_amount":"0.0","vat_document":true},{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/sales_invoices/2018000031"},"accounting_address":{"address_id":"u_skolky_357-14-plzen"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"prosteckyo"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"sidlo"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"prosteckyo"},"[...]
