---
http_interactions:
- request:
    method: patch
    uri: https://test.ucetnictvi.uol.cz/api/v1/sales_invoices/2017000002
    body:
      encoding: US-ASCII
      string: accounting_address&accounting_address_id&bank_account&bank_account_id&buyer_address&buyer_address_id&buyer&buyer_id=alzacz_as&contract&contract_id&creator&creator_id&modifier&modifier_id&delivery_address&delivery_address_id&department&department_id&document_recipient_address&document_recipient_address_id&order&order_id&shipper&shipper_id&linked_doc&linked_doc_number&&cancellation_date&constant_symbol&consumption_country_id&created_at&currency_id&delivery_note=test&delivery_note_note&delivery_note_text&due_date=2017-03-16+22%3A02%3A10+%2B0100&exchange_rate&external_id&invoice_id&issue_date=2017-03-09+22%3A02%3A10+%2B0100&logo&note&payment_method=bank_transfer&percent_discount&public_id&response&rounding&send_by_email=0&send_by_mail&shipping_method&specific_symbol&status&tax_payment_date=2017-03-08+22%3A02%3A10+%2B0100&text&total_amount&type=penalty&updated_at&variable_symbol&vat1_amount&vat2_amount&vat3_amount&vat_document
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/sales_invoices/2017000002"},"accounting_address":{"address_id":"jatecni_1530-33-praha"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"antasa"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"praha"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"demo"},"order":{"order_id":null},"contract":{"contract_id":null},"shipper":{"_meta":null},"buyer":{"_meta":{"href":"https://test.ucetnictvi.uol.cz/api/v1/contacts/alzacz_as"}},"items":[{"creator":{"user_id":"antasa"},"delivery":{"delivery_id":null},"department":{"department_id":null},"modifier":{"user_id":"antasa"},"product":{"product_id":"drmaj"},"contract":{"contract_id":null},"batch":null,"created_at":"2017-03-09T16:58:37+01:00","description":"Rohlik","expiration_date":null,"external_id":null,"id":71711,"percent_discount":0.0,"quantity":"1.0","status":"valid","serial_numbers":null,"supplier_code":null,"unit_price":"100000.0","unit_price_vat_inclusive":"121000.0","updated_at":"2017-03-09T16:58:37+01:00","vat_rate":21.0,"vat_calculation_method":"from_below"}],"cancellation_date":null,"constant_symbol":308,"consumption_country_id":"CZ","created_at":"2017-03-09T16:58:37+01:00","delivery_note":false,"delivery_note_note":null,"delivery_note_text":null,"due_date":"2017-03-16","exchange_rate":null,"external_id":null,"invoice_id":2017000002,"issue_date":"2017-03-09","note":null,"payment_method":"bank_transfer","percent_discount":0.0,"public_id":"2017000002","rounding":null,"status":"valid","send_by_email":false,"send_by_mail":false,"shipping_method":null,"specific_symbol":27082440,"tax_payment_date":"2017-03-08","text":null,"total_amount":"121000.0","type":"penalty","updated_at":"2017-03-09T22:02:11+01:00","variable_symbol":2017000002,"vat1_amount":null,"vat2_amount":null,"vat3_amount":null,"vat_document":false}'
  recorded_at: Thu, 09 Mar 2017 21:02:12 GMT
recorded_with: VCR 3.0.3
