---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/sales_invoices/
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/sales_invoices/2017000004"},"accounting_address":{"address_id":"jatecni_1530-33-praha"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"demo"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"praha"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"demo"},"order":{"order_id":null},"contract":{"contract_id":null},"shipper":{"_meta":null},"buyer":{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts/alzacz_as"}},"items":[],"cancellation_date":null,"constant_symbol":308,"consumption_country_id":"CZ","created_at":"2017-03-09T17:16:23+01:00","delivery_note":false,"delivery_note_note":null,"delivery_note_text":null,"due_date":"2017-03-23","exchange_rate":null,"external_id":null,"invoice_id":2017000004,"issue_date":"2017-03-09","note":"","payment_method":"bank_transfer","percent_discount":0.0,"public_id":"2017000004","rounding":null,"status":"valid","send_by_email":false,"send_by_mail":false,"shipping_method":null,"specific_symbol":27082440,"tax_payment_date":"2017-03-09","text":null,"total_amount":0.0,"type":"standard","updated_at":"2017-03-09T17:16:23+01:00","variable_symbol":2017000004,"vat1_amount":null,"vat2_amount":null,"vat3_amount":null,"vat_document":true},{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/sales_invoices/2017000003"},"accounting_address":{"address_id":"jatecni_1530-33-praha"},"buyer_address":{"address_id":null},"bank_account":{"bank_account_id":"cs_czk"},"creator":{"user_id":"demo"},"currency":{"currency_id":"CZK"},"delivery_address":{"address_id":null},"department":{"department_id":"praha"},"document_recipient_address":{"address_id":null},"linked_doc":null,"logo":{"url":null},"modifier":{"user_id":"demo"},"order":{"order_id":null},"contract":{"contract_id":null},"shipper":{"_meta":null},"buyer":{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts/alzacz_as"}},"items":[{"creator":{"user_id":"demo"},"delivery":{"delivery_id":null},"department":{"department_id":null},"modifier":{"user_id":"demo"},"product":{"product_id":"phm"},"contract":{"contract_id":null},"batch":null,"created_at":"2017-03-09T17:13:21+01:00","description":"Pohonné
        hmoty","expiration_date":null,"external_id":null,"id":71718,"percent_discount":0.0,"quantity":"1.0","status":"valid","serial_numbers":null,"supplier_code":null,"unit_price":"100.0","unit_price_vat_inclusive":"121.0","updated_at":"2017-03-09T17:13:21+01:00","vat_rate":21.0,"vat_calculation_method":"from_below"}],"cancellation_date":null,"constant_symbol":308,"consumption_country_id":"CZ","created_at":"2017-03-09T17:13:21+01:00","delivery_note":false,"delivery_note_note":null,"delivery_note_text":null,"due_date":"2017-03-23","exchange_rate":null,"external_id":null,"invoice_id":2017000003,"issue_date":"2017-03-09","note":"","payment_method":"bank_transfer","percent_discount":0.0,"public_id":"2017000003","rounding":null,"status":"valid","send_by_email":false,"send_by_mail":false,"shipping_me[...]
