---
http_interactions:
- request:
    method: patch
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/imaginary
    body:
      encoding: UTF-8
      string: '{"acquisition_country_id":null,"addresses":[],"business_entity":null,"consumption_country_id":null,"contact_id":null,"contract_id":null,"country_id":"CZ","created_at":null,"creator":{},"days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"email":null,"external_id":null,"hidden":null,"import_received_documents":"P","language_id":null,"mobile_phone":null,"modifier_id":null,"name":"Testovaci","note":null,"percent_discount":null,"phone":null,"price_list":{},"response":null,"sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":null,"updated_at":null,"url":null,"vat_payer":false,"vatin":"CZ129451811"}'
    headers:
      Authorization:
      - Basic ZGVtb0B1Y2V0bmljdHZpLW9uLWxpbmUuY3o6SmJHSnhaNkd5WVhSRmZoemdFOF9yQQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Status:
      - 404 Not Found
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status":"404","code":"0004","message":"Record doesn''t exist.","developerMessage":"Record
        doesn''t exist, make sure that you''re requesting correct object"}'
      effective_url: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/imaginary
  recorded_at: Thu, 10 Dec 2015 10:28:30 GMT
recorded_with: VCR 2.9.3
