---
http_interactions:
- request:
    method: patch
    uri: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/test
    body:
      encoding: UTF-8
      string: '{"acquisition_country_id":null,"addresses":[],"business_entity":null,"consumption_country_id":null,"contact_id":null,"contract_id":null,"country_id":"CZ","created_at":null,"creator":{},"days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"email":null,"external_id":null,"hidden":null,"import_received_documents":"P","language_id":null,"mobile_phone":null,"modifier_id":null,"name":"test","note":null,"percent_discount":null,"phone":null,"price_list":{},"response":null,"sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":null,"updated_at":null,"url":null,"vat_payer":false,"vatin":"CZ321548986"}'
    headers:
      Authorization:
      - Basic ZGVtb0B1Y2V0bmljdHZpLW9uLWxpbmUuY3o6SmJHSnhaNkd5WVhSRmZoemdFOF9yQQ==
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      ETag:
      - W/"85c7f1e77823e9ad48fffb71362efa26"
      Status:
      - 200 OK
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"_meta":{"href":"https://test.ucetnictvi.bonobo.cz/api/v1/contacts/test"},"acquisition_country_id":null,"business_entity":true,"contact_id":"test","consumption_country_id":null,"contract":null,"country_id":"CZ","created_at":"2015-12-10T11:29:48+01:00","creator":{"user_id":"demo"},"days_till_due_date":null,"department_id":null,"duplicate_variable_symbol":false,"email":null,"external_id":null,"hidden":false,"import_received_documents":"P","language_id":null,"mobile_phone":null,"modifier":{"user_id":"uoladm"},"name":"test","note":null,"percent_discount":0.0,"phone":null,"sipo_number":null,"specific_symbol":null,"tin":null,"unreliable_payer":null,"updated_at":"2015-12-10T11:31:14+01:00","url":null,"vat_payer":false,"vatin":"CZ321548986","addresses":[]}'
      effective_url: https://test.ucetnictvi.bonobo.cz/api/v1/contacts/test
  recorded_at: Thu, 10 Dec 2015 10:31:15 GMT
recorded_with: VCR 2.9.3
