---
http_interactions:
- request:
    method: get
    uri: https://test.ucetnictvi.uol.cz/api/v1/uploaded_documents
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"items":[],"_meta":{"href":"http://test.ucetnictvi.uol.cz/api/v1/uploaded_documents","pagination":{"first":"http://test.ucetnictvi.uol.cz/api/v1/uploaded_documents?page=1","last":"http://test.ucetnictvi.uol.cz/api/v1/uploaded_documents?page=1"}}}'
  recorded_at: Wed, 24 Jul 2019 13:51:10 GMT
recorded_with: VCR 4.0.0
